* {
	box-sizing: border-box;
}

body {
	background: url("../img/jaguar-xe.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;

}

article {
	background-color: rgba(0,0,0, 0.7);
	border-radius: 0.5em;
	color: white;
	margin: 30px;
	max-width: 600px;
    padding: 25px;
}

article h1 {
	margin: 0 0 20px 0;
}

article p {
	font-size: 14px;
	line-height: 1.8;
}

article a {
	background-color: #DB3030;
	border-radius: .2em;
	border-bottom: 2px solid #BB3030;
	color: white;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 7px;
	text-decoration: none;
	text-align: center;
	width: 120px;
}